@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200;400;600&display=swap');



body {
  font-family: Poppins;
  color: rgb(239, 247, 247);
  background-color:rgb(13, 13, 21);
  margin:0;
}

.movie {
    background-color:rgb(50, 50, 62);
    margin: 1rem;
    width: 250px;
}      

.movie img {
    margin: 0rem;
    max-width:100%;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin:0;
}